<!DOCTYPE html>
<html lang= "en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width = device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<title>Cinema (film_details)</title>
</head>
<body>

<div id="container">
<%for film in @films%>
<ul>
<li><%= film.title %></li>
<li><%= film.price %></li>
</ul>
<%end%>
<p><a href="/films">Back to list</a></p>
</div>


</body>
</html>